<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultSqlConnection"
          connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=EnvironmentalMonitoring;
          integrated Security=False"
          providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>